<style>
    .admin-panel {
        border-bottom: 1px solid lightgrey;
        font-size: 13px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 3px;
        height: 20px;
        background-color: #f1f1f1;
    }
    .admin-info-text {
        display: inline-block;
        float: left;
    }
    .admin-index-link {
        float:right;
    }
    .index-link {
        float:right;
        margin-right: 20px;
    }
</style>
<div class="admin-panel"> 
    <span class="admin-info-text">You are logged as administrator!</span>
    <a class="admin-index-link" href="/admin/index">Go to administrator panel</a>
    <a class="index-link" href="/">Back to site</a>
</div>